_dev  
.DS_Store
sftp-config.json
bower_components
node_modules
.htpasswd
.htaccess
package-lock.json

/.idea
.idea
/web.config
/*web.config
/*.log
/*.sql
# исключаем из репозитория текстовые файлы, но оставляем robots.txt
/*.txt
#!/robots.txt
/sitemap*.xml
/*.dt
/*.tar.gz
/*.gz
/*.tar
/*.bak
/*.old
/*sftp-config.json
/*~
*/_*
/_*
/composer.*
/.phpintel
/package-lock.json
/docs/